.map-container {
  display: flex;
  flex: 1 0 auto;
  min-height: 400px;
  min-width: 500px;
}

.map-container > svg {
  flex: 1 0 auto;
}

.infoWindow {
  max-width: 300px;
  min-width: 200px;
  flex: 1 0 auto;
}

